body {
    background-image: url("/flowerBG.jpg");
}

h1{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}

#input-areas{
    text-align: center;
    font-family: cursive;
}


#guest-list{
    border: 2px dotted black ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    width: 500px;
    padding: 5px;
}

#guest-list li{
    margin: 0 auto;
    text-align:left;
}